.NavTira{
    background-color: grey;
    width: 200vh;
}
.ButonCart {
    background-color: white;
}
button{
    background-color: rgb(11, 61, 97);
    color: white;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 10%;
}
